h2
{
  color: green;
}

.card{
    padding-top:50px;
    height:300px;
    width:300px;

}

.c2{
    padding-top:50px;
}

footer
{
  padding-top: 5vh;
  padding-bottom: 2vh;
}
.copyright,  .impressum
{
  text-align: center;
}
.logo
{
  height: 8vh;
}
@media (max-width: 768px)
{
  .sozial
  {
    margin-bottom: 1vh;
  }
}