@import url("https://fonts.googleapis.com/css?family=Gupter&display=swap");
@import url("https://fonts.googleapis.com/css?family=Aladin|Gupter|Noto+Sans+JP&display=swap");

.navbar{
  background-color:#7C90A0;
  height: 80px;
  font-family: 'Aladin', cursive;
}

.nahead{
  font-size:30px;
  padding: 10px;
  margin-right: 40px;
}

body{
  background-color: #B2BCAA;
}

.jumbotron{
  background-color: #B2BCAA;
  font-family: 'Gupter', serif;
}

h2
{
  color: black;
}

footer
{
  padding-top: 5vh;
  padding-bottom: 2vh;
}

img{
  padding-top:20px;
  width:400px;
  height:400px;

}

.image{
  width:700px;
  height:400px;
}

.about > p{
  text-align: center;
  font-size:30px;
}

.about{
    background-image:url('https://webneel.com/daily/sites/default/files/images/daily/08-2018/1-nature-photography-spring-season-mumtazshamsee.jpg');
    background-repeat:no-repeat;
    height: 80vh;
    width:80%;
    border-radius: 40px;
    text-align: center;
    color:black;
    font-family: 'Gupter', serif;
  }
  .about > h3{
    font-size:40px;

}

.search{
  font-family: 'Aladin', cursive;
}

input{
  font-size:20px;
}

.modal-title {
  font-family: 'Aladin', cursive;
}

.modal-body{
  font-family: 'Aladin', cursive;
  font-size:25px;
}