{%extends 'all-folios/base.html'%}

{% block content%}

<div class="container about">
    
         <h3> Serah254 Gallery is all about collections of defferent photos for diffferent categories.<br>
            Its designed with love and passion for africa,  and thus, most of the images will be composed <br> 
        of africa scenery.</h3>
        <h3> To view the different images, you will have to search the following categories in the search bar.</h3>
        <p> 1. Travel</p>
        <p> 2. School </p>
        <p> 3. Nature </p>
        <p> 4. Hiking </p>
        <p> 5. Wildlife </p>
        
</div>
{% endblock %}